
<div class="row">
    <!-- Imagen de la receta -->
    <div class="five columns">
        <img ng-src="{{ $ctrl.obtenerRutaImagen($ctrl.receta.rutaImagen) }}" width="240" height="240">
    </div>
    <div class="seven columns">
        <!-- Titulo -->
        <div>
            <label>Título</label>
            <span>{{ $ctrl.receta.titulo }}</span>
        </div>
        <!-- Ingredientes -->
        <div>
            <label>Ingredientes</label>
            <ul>
                <!-- Cada ingrediente -->
                <li ng-repeat="ingrediente in $ctrl.receta.ingredientes">
                    <span>{{ ingrediente.cantidad }} gr. de {{ ingrediente.nombre }}</span>
                </li>
            </ul>
        </div>
        <!-- Botón eliminar -->
        <div>
            <button class="button button-primary u-full-width"
                    ng-click="$ctrl.eliminarReceta($ctrl.receta.id)">Eliminar</button>
        </div>
        <!-- Botón volver -->
        <div>
            <button class="button u-full-width"
                    ng-click="$ctrl.volverAtras()">Volver</button>
        </div>
    </div>
</div>