
<div>
    <!-- Nuevo ingrediente -->
    <input type="text"
           ng-model="$ctrl.nuevoIngrediente"
           placeholder="Introduce un ingrediente y pulsa intro"
           ng-keyup="$ctrl.alPulsarTecla($event)"
           class="u-full-width">

    <!--
        Lista de ingredientes
        Solo se muestra en caso de haber algún ingrediente. Esto lo controlamos con
        la directiva ngShow. También podríamos con ngHide y ngIf.
     -->
    <table class="u-full-width" ng-show="$ctrl.ingredientes.length > 0">
        <thead>
            <tr>
                <th>Ingrediente</th>
                <th>Cantidad (gr.)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ingrediente in $ctrl.ingredientes">
                <td>{{ ::ingrediente.nombre }}</td>
                <td>
                    <input type="number"
                           min="1"
                           max="9999"
                           ng-model="ingrediente.cantidad">
                </td>
                <td>
                    <button ng-click="" class="button">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
