
<table class="u-full-width">
    <tbody>
        <tr ng-repeat="receta in coleccion">
            <!-- Imagen de la receta -->
            <td>
                <img ng-src="{{ obtenerRutaImagen(receta.rutaImagen) }}" width="50" height="50">
            </td>
            <!-- Nombre de la receta -->
            <td>
                <div>{{ ::receta.titulo }}</div>
                <div>{{ ::receta.ingredientes | ListaIngredientes }}</div>
            </td>
            <td>
                <!-- Acción eliminar receta -->
                <i class="fa fa-trash-o icono-en-tabla"
                   aria-hidden="true"
                   ng-click="eliminarReceta(receta.id)"></i>
                <!-- Acción ver detalle de la receta -->
                <i class="fa fa-info-circle icono-en-tabla"
                   aria-hidden="true"
                   ng-link="['/DetalleReceta', { idReceta: receta.id }]"></i>
            </td>
        </tr>
    </tbody>
</table>
