
<!-- Lista de recetas -->
<div class="row">
    <div class="twelve columns">
        <lista-recetas coleccion="$ctrl.recetas"
                       boton-eliminar-pulsado="$ctrl.eliminarReceta(id)">
        </lista-recetas>
    </div>
</div>