
<div>

    <!-- Título de la sección -->
    <header>
        <h4>Nueva Receta</h4>
    </header>

    <div class="row">

        <!-- Imagen -->
        <div class="five columns">
            <image-picker image-selected="$ctrl.imagenSeleccionada(imageFile)"></image-picker>
        </div>

        <!-- Formulario -->
        <div class="seven columns">

            <!-- Título -->
            <div>
                <input type="text"
                       placeholder="Nombre de la receta"
                       ng-model="$ctrl.receta.titulo"
                       class="u-full-width">
            </div>

            <!-- Lista de ingredientes -->
            <div>
                <ingredientes ingredientes="$ctrl.receta.ingredientes"
                              al-agregar-ingrediente="$ctrl.agregarIngrediente(ingrediente)"></ingredientes>
            </div>

            <!-- Acción guardar receta -->
            <div>
                <button ng-click="$ctrl.crearReceta()"
                        class="button button-primary u-full-width">Crear</button>
            </div>

        </div>
    </div>
</div>