
<div class="container">

    <!-- Título -->
    <header>
        <h1>CookBook</h1>
        <h5>Mis recetas de cocina</h5>
    </header>

    <!-- Barra de navegación -->
    <nav class="barra-navegacion">
        <ul>
            <li ng-class="{ 'seleccionada': $ctrl.misRecetasSeleccionada }">
                <!-- Con la directiva 'ngLink' navegamos a una configuración de ruta -->
                <a ng-click="$ctrl.navegarMisRecetas()">Mis Recetas</a>
            </li>
            <li ng-class="{ 'seleccionada': $ctrl.nuevaRecetaSeleccionada }">
                <!-- Con la directiva 'ngLink' navegamos a una configuración de ruta -->
                <a ng-click="$ctrl.navegarNuevaReceta()">Nueva Receta</a>
            </li>
        </ul>
    </nav>

    <!-- Contenido de los distintos componentes que se navegan -->
    <ng-outlet></ng-outlet>

</div>