<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo de controladores y scopes</title>
</head>
<body ng-app="app1">

    <!-- Controlador 'controlador1' -->
    <div ng-controller="controlador1">
        <!-- Muestra un mensaje en la vista -->
        {{ mensaje }}
        <!-- Muestra mensaje en diálogo -->
        <button ng-click="mostrarSaludo()">Saludar</button>
    </div>

    <!-- Controlador 'padre' -->
    <div ng-controller="padre">
        <button ng-click="hacerBroadcast()">Hacer Broadcast</button>
        <!-- Controlador 'hijo' -->
        <div ng-controller="hijo">
            <button ng-click="hacerEmit()">Hacer Emit</button>
        </div>
    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script>

        // Setter de la aplicación 'app1'.
        angular.module("app1", []);

        // Controlador 'controlador1'.
        angular.module("app1").controller("controlador1", function($scope) {

            // Establecemos un valor en el $scope.
            $scope.mensaje = "¡Buenas tardes!";

            // Establecemos lógica en el $scope.
            $scope.mostrarSaludo = function() {
                alert("Hola, ¿qué tal estáis?");
            };
        });

        // Controlador 'padre'.
        angular.module("app1").controller("padre", function($scope) {

            // Nos suscribimos al evento del hijo.
            $scope.$on("EventoDesdeControladorHijo", function(evento, datos) {

                // Mostramos datos del evento.
                alert("Este mensaje lo ha enviado un controlador hijo con valor: " + datos.valor);
            });

            $scope.hacerBroadcast = function() {
                // Hacemos broadcast del evento.
                $scope.$broadcast("EventoDesdeControladorPadre", 10);
            };
        });

        // Controlador 'hijo'.
        angular.module("app1").controller("hijo", function($scope) {

            // Nos suscribimos al evento del padre.
            $scope.$on("EventoDesdeControladorPadre", function(evento, datos) {

                // Mostramos datos del evento.
                alert("Este mensaje lo ha enviado un controlador padre con valor: " + datos);
            });

            $scope.hacerEmit = function() {
                // Hacemos emit del evento.
                $scope.$emit("EventoDesdeControladorHijo", { valor: 5 });
            };
        });

    </script>
</body>
</html>