<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo de inyección de dependencias</title>
</head>
<body ng-app="app1">

    <!-- Controlador 'controlador1' -->
    <div ng-controller="controlador1">
        <h4>{{ titulo }}</h4>
        <p>{{ mensaje1 }}</p>
        <p>{{ mensaje2 }}</p>
    </div>

    <!-- Controlador 'controlador2' -->
    <div ng-controller="controlador2">
        <h4>{{ titulo }}</h4>
        <p>{{ mensaje1 }}</p>
        <p>{{ mensaje2 }}</p>
    </div>

    <!-- Controlador 'controlador3' -->
    <div ng-controller="controlador3">
        <h4>{{ titulo }}</h4>
        <p>{{ mensaje1 }}</p>
        <p>{{ mensaje2 }}</p>
    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script>

        // Setter de la aplicación 'app1'.
        angular.module("app1", []);

        // Servicio 'servicio1'.
        angular.module("app1").service("servicio1", function() {
            this.obtenerMensaje = function() { return "Mensaje desde servicio1."; };
        });

        // Servicio 'servicio2'.
        angular.module("app1").service("servicio2", function() {
            this.obtenerMensaje = function() { return "Mensaje desde servicio2."; };
        });

        // 1. Inyección de dependencias con anotación de array en línea.
        angular
            .module("app1")
            .controller("controlador1", [
                "$scope",
                "servicio1",
                "servicio2",
                function($scope, servicio1, servicio2) {
                    $scope.titulo = "controlador1 - Inyección de dependencias con anotación de array en línea";
                    $scope.mensaje1 = servicio1.obtenerMensaje();
                    $scope.mensaje2 = servicio2.obtenerMensaje();
                }]);

        // 2. Inyección de dependencias con propiedad $inject.
        var controlador2 = function($scope, servicio1, servicio2) {
            $scope.titulo = "controlador2 - Inyección de dependencias con propiedad $inject";
            $scope.mensaje1 = servicio1.obtenerMensaje();
            $scope.mensaje2 = servicio2.obtenerMensaje();
        };
        controlador2.$inject = ["$scope", "servicio1", "servicio2"];
        angular.module("app1").controller("controlador2", controlador2);

        // 3. Inyección como parámetros de función.
        angular.module("app1").controller("controlador3", function($scope, servicio1, servicio2) {
            $scope.titulo = "controlador3 - Inyección como parámetros de función";
            $scope.mensaje1 = servicio1.obtenerMensaje();
            $scope.mensaje2 = servicio2.obtenerMensaje();
        });

    </script>
</body>
</html>