<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo de objetos diferidos</title>
</head>
<body ng-app="app1">

    <!-- Componente 'test' -->
    <test></test>

    <!-- Cargamos AngularJS -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script>

        // Setter de la aplicación.
        angular.module("app1", []);

        // Componente 'test'.
        angular
            .module("app1")
            .component("test", {
                templateUrl: "views/test.html",
                controller: function($q) {

                    var self = this;

                    // Manejador del botón 'Objeto diferido que se resuelve'.
                    self.crearObjetoDiferidoQueResuelve = function() {

                        // Creamos el objeto diferido.
                        var diferido = $q.defer();

                        // Simulamos asincronía con setTimeout.
                        setTimeout(function() {
                            // Resolvemos el objeto diferido.
                            diferido.resolve("¡Objeto resuelto correctamente!");
                        }, 5000);

                        // Trabajamos siempre con la promesa del objeto diferido.
                        diferido.promise.then(

                            // Manejador que se ejecuta si se
                            // resuelve el objeto diferido.
                            function(valor) {
                                // Mostramos el valor en una alerta.
                                alert(valor);
                            }
                        );
                    };

                    // Manejador del botón 'Objeto diferido que se rechaza'.
                    self.crearObjetoDiferidoQueRechaza = function() {

                        // Creamos el objeto diferido.
                        var diferido = $q.defer();

                        // Simulamos asincronía con setTimeout.
                        setTimeout(function() {

                            // Rechazamos el objeto diferido.
                            diferido.reject("¡Ocurrió un error, hemos tenido que rechazar!");
                        }, 5000);

                        // Trabajamos siempre con la promesa del objeto diferido.
                        diferido.promise.then(

                            // Manejador dummy (nunca se ejecuta al rechazar).
                            undefined,

                            // Manejador que se ejecuta si se
                            // rechaza el objeto diferido.
                            function(valor) {
                                // Mostramos el valor en una alerta.
                                alert(valor);
                            }
                        );
                    };

                    // Manejador del botón 'Resolvemos varias promesas'.
                    self.resolvemosColeccionDePromesas = function() {

                        // Con $q.all() pasamos una colección de promesas.
                        $q.all([
                            $q.when("Mensaje 1"),
                            $q.when("Mensaje 2"),
                            $q.when("Mensaje 3")
                        ]).then(
                            // Manejador que se ejecuta si fue correcto.
                            function(datos) {

                                alert(
                                    "Promesa 1: " + datos[0] +
                                    "\nPromesa 2: " + datos[1] +
                                    "\nPromesa 3: " + datos[2]
                                );
                            },
                            // Manejador que se ejecuta si algo fue mal.
                            function() {
                                // Mostramos el valor en una alerta.
                                alert("¡Ocurrió un error!");
                            }
                        );
                    };
                }
            });

    </script>

    <!--
        Vista asociada al componente 'test'
        Podemos usar vistas en línea con elementos <script> cuyo atributo 'type'
        sea 'text/ng-template'. Debemos establecer siempre un valor a su atributo
        'id' para indicar la ruta (ficticia) donde está alojada dicha vista. Este
        valor es el que indicamos en la propiedad 'templateUrl' del componente.
    -->
    <script type="text/ng-template" id="views/test.html">
        <!-- Botón que resuelve un objeto diferido -->
        <div>
            <button ng-click="$ctrl.crearObjetoDiferidoQueResuelve()">Objeto diferido que se resuelve</button>
        </div>
        <!-- Botón que rechaza un objeto diferido -->
        <div>
            <button ng-click="$ctrl.crearObjetoDiferidoQueRechaza()">Objeto diferido que se rechaza</button>
        </div>
        <!-- Botón que se espera a la resolución de una colección de promesas -->
        <div>
            <button ng-click="$ctrl.resolvemosColeccionDePromesas()">Resolvemos varias promesas</button>
        </div>
    </script>

</body>
</html>