<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplos de Data Binding</title>
</head>
<body ng-app="app1">

    <!-- Controlador 'test1' -->
    <div ng-controller="test1">

        <!-- Two-way data binding -->
        <div>
            <h4>Two-way data binding</h4>
            <input type="text" placeholder="Escribe un nombre" ng-model="nombre">
            <span>{{ nombre }}</span>
        </div>

        <!-- One-time binding -->
        <div>
            <h4>One-time binding</h4>
            <input type="text" placeholder="Escribe un apellido" ng-model="apellido">
            <span>{{ ::apellido }}</span>
        </div>

        <!-- ngModelOptions - updateOn -->
        <div>
            <h4>ngModelOptions - updateOn</h4>
            <input type="text"
                   placeholder="Escribe una ciudad"
                   ng-model="ciudad"
                   ng-model-options="{ updateOn: 'blur' }">
            <span>{{ ciudad }}</span>
        </div>

        <!-- ngModelOptions - debounce -->
        <div>
            <h4>ngModelOptions - debounce</h4>
            <input type="text"
                   placeholder="Escribe un país"
                   ng-model="pais"
                   ng-model-options="{ debounce: 3000 }">
            <span>{{ pais }}</span>
        </div>

    </div>
    <!-- Cargamos AngularJS -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script>

        // Setter de la aplicación.
        angular.module("app1", []);

        // Controlador 'test1'.
        angular.module("app1").controller("test1", function($scope) {
        });

    </script>
</body>
</html>