<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo de Services, Factories y Providers</title>
</head>
<body ng-app="app1">

    <!-- Vista asociada al controlador 'test1' -->
    <div ng-controller="test1">

        <!-- Pintamos mensaje procedente de 'service1' -->
        <div>
            <h5>Mensaje de <strong>service1</strong></h5>
            <p>{{ mensajeDesdeService }}</p>
        </div>

        <!-- Pintamos mensaje procedente de 'factory1' -->
        <div>
            <h5>Mensaje de <strong>factory1</strong></h5>
            <p>{{ mensajeDesdeFactory }}</p>
        </div>

        <!-- Pintamos mensaje procedente de 'provider1' -->
        <div>
            <h5>Mensaje de <strong>provider1</strong></h5>
            <p>{{ mensajeDesdeProvider }}</p>
        </div>
    </div>

    <!-- Cargamos AngularJS -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script>

        // Setter de la aplicación.
        angular.module("app1", []);

        // Controlador 'test1'.
        angular.module("app1").controller("test1", function(
                $scope,
                service1,
                factory1,
                provider1
        ) {

            $scope.mensajeDesdeService = service1.obtenerMensaje();
            $scope.mensajeDesdeFactory = factory1();
            $scope.mensajeDesdeProvider = provider1;
        });

        // Service 'service1'.
        angular.module("app1").service("service1", function() {

            this.obtenerMensaje = function() {
                return "Soy un mensaje en un service.";
            };
        });

        // Factory 'factory1'.
        angular.module("app1").factory("factory1", function() {

            // En un factory podemos retornar cualquier tipo.
            return function() {
                return "Soy un mensaje en un factory.";
            };
        });

        // Provider 'provider1'.
        angular.module("app1").provider("provider1", function() {

            var mensaje = "Mensaje por defecto en un provider.";

            return {
                // Todas las propiedades que se definan en el objeto y que sean
                // distintas de '$get', estarán accesibles en fase de config.
                cambiarMensaje: function(nuevoMensaje) {
                    mensaje = nuevoMensaje;
                },
                // La propiedad '$get' es un factory. Puede retornar cualquier tipo.
                $get: function() {
                    return mensaje;
                }
            };
        });

        // Configuramos 'provider1'.
        angular.module("app1").config(function(provider1Provider) {

            provider1Provider.cambiarMensaje("Mensaje en provider modificado en fase de config.");
        });

    </script>
</body>
</html>